body{
font-family:Arial,sans-serif;
background:#121212;
color:white;
padding:20px;
}

.container{
max-width:800px;
margin:auto;
}

h1{
text-align:center;
}

.stats{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:10px;
margin-bottom:20px;
}

.card{
background:#1e1e1e;
padding:15px;
border-radius:10px;
text-align:center;
}

input,select{
width:100%;
padding:12px;
margin-top:10px;
border:none;
border-radius:6px;
}

button{
width:100%;
padding:12px;
margin-top:10px;
background:#00b894;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

.company-card{
background:#1e1e1e;
padding:15px;
margin-top:15px;
border-radius:10px;
}

.badge{
padding:5px 10px;
border-radius:20px;
font-size:12px;
font-weight:bold;
}

.applied{
background:#0984e3;
}

.interview{
background:#fdcb6e;
color:black;
}

.selected{
background:#00b894;
}

.rejected{
background:#d63031;
}

.delete-btn{
background:red;
margin-top:10px;
}
